/plots/
/output/
/matlab/
/schedule_archive/
/proc/
/venv/
/.jbeval/
/.claude/
/.idea/
/.ipynb_checkpoints/
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
__pycache__/
/legacy/
*.py[cod]
**.so
**.dll
.DS_Store
*.gif
*.pickle
*.mp4
*.xlsx
*.bin
*.png
*.nc
*.html
*.pkl
*.h5
*.csv