rebound~=3.28.0
numpy~=1.24.4
reboundx~=3.10.1
tqdm~=4.66.1
matplotlib~=3.8.0
pandas~=2.1.0
scipy~=1.11.2
numba~=0.57.1
dill~=0.3.6
plotly~=5.17.0
pip~=23.2.1
attrs~=23.1.0
wheel~=0.41.2
Pillow~=10.0.1
setuptools~=68.1.2
packaging~=23.1
pyparsing~=3.1.1
future~=0.18.3
asyncio~=3.4.3